<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      เกี่ยวกับฉัน
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <P class="ion-text-center">ชื่อจริง นายภาคิน สุขโข เกิดวันที่ 2 มีนาคม 2550 ชื่อเล่น : กราฟ</P>
  <p class="ion-text-center">เป็นคนนนทบุรีโดยกำเนิด เกิดที่บางกรวย แต่ปัจจุบันอาศัยอยู่ย่านบางบัวทอง</p>
  <div class="section-line"></div>
  <p class="ion-text-center">ชื่อ ภาคิน ที่พ่อและแม่ตั้งให้ มาความหมายว่า ผู้มีโชค มีกำไร เป็นชื่อมงคลสำหรับคนที่เกิดวันศุกร์</p>
  <div class="section-line"></div>
  <p class="ion-text-center">ปัจจุบันศึกษาอยู่ระดับชั้นประกาศนียบัตรวิชาชีพ ปีที่ 2 สาขาเทคโนโลยีสารสนเทศ จบการศึกษามัธยม 3 จากโรงเรียนนนท์ประสิทธิ์วิทยา</p>
  <div class="section-line"></div>
  <p class="ion-text-center">ผลงานเด่นที่เคยทำ-ด้านวิชาการ : 1.ตัวแทนโรงเรียนแข่งสุนทรพจน์ภาษาอังกฤษ ระดับจังหวัด ได้เหรียญเงิน 75 คะแนน 2.ตัวแทนโรงเรียนแข่งการแข่งขัน Pictorial Writing ได้เหรียญเงิน 78 คะแนน อันดับ 5 ระดับจังหวัด</p>
</ion-content>
